<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xmlns="http://java.sun.com/xml/ns/javaee"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 version="2.5">
	<display-name>MobileOperator</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>registration.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<description>Controls and dispatches requests from JSP's</description>
		<display-name>FrontServlet</display-name>
		<servlet-name>FrontServlet</servlet-name>
		<servlet-class>ru.tsystems.ecare.controller.FrontServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
		<url-pattern>/AllCustomers</url-pattern>
		<url-pattern>/AllContracts</url-pattern>
		<url-pattern>/NewCustomer</url-pattern>
		<url-pattern>/EditCustomer</url-pattern>
		<url-pattern>/NewContract</url-pattern>
		<url-pattern>/EditContract</url-pattern>
		<url-pattern>/CreateContract</url-pattern>
		<url-pattern>/Registration</url-pattern>
		<url-pattern>/AllTariffs</url-pattern>
		<url-pattern>/AllOptions</url-pattern>
		<url-pattern>/NewTariff</url-pattern>
		<url-pattern>/NewOption</url-pattern>
		<url-pattern>/CreateTariff</url-pattern>
		<url-pattern>/Search</url-pattern>
		<url-pattern>/LockCustomer</url-pattern>
		<url-pattern>/Logout</url-pattern>
		<url-pattern>/ChangeContractTariff</url-pattern>
		<url-pattern>/SetTariff</url-pattern>
	</servlet-mapping>

</web-app>